<!DOCTYPE html>
<html lang="">

<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ5KTX927T"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
   
     gtag('config', 'G-TZ5KTX927T');
   </script>
	<meta charset="utf-8">
	<title>Admin Panel | Athmakalin Sangamam</title>
   <meta name="author" content="Codestormx">
   <meta name="robots" content="noindex" />
	<meta name="description" content="Athmakalin sangamam admin panel">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />

      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<body>
	<header>
	    <div class="head">
	        <div class="container pt-5 pb-5">
 <div class="float-right">
     <a type="button" href="/sessionLogout" class="btn btn-light">Logout</a>
 </div>
    <div class="">
     <span class="text-uppercase text-white font-secondary font-size-12">Admin Panel</span>
      <h3 class="">Athmakalin Sangamam</h3>
    </div>

</div>
	    </div>
	</header>
	<main>
	    <section id="pricing">
            <div class="container spacer-double-lg border-bottom">
<!--
               <div class="row">
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Choose a plan</span>       
                        <h1 class="mb-0">Pricing Plans</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                        <p class=" mb-0 pt-3 lead w-md-60 mx-auto">Mountain Pose is the base for all standing poses it gives
                           you a sense of how to ground in to your feet and feel the earth
                           below you.
                        </p>
                     </div>
                  </div>
               </div>
-->
               <div class="row justify-content-center align-items-center">
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Article</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/blogger" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Article List</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/blog-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Events</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/events-upload" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Create SubClass</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/class-create" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">SubClass(List)</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/class-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Create MainClass</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/clstop-create" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">MainClass(List)</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/clstop-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Registered User Details</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/reg-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Gallery/Quotes</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/gallery-upload" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Audio/Video</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/media-upload" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Gallery(List)</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/gall-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                     <div class="card border-0 bg-light shadow radius-2 text-center pt-6 pb-3 m-3">
                        <header class="card-header border-0 p-0 ">
                           <div class="table-price">
                              <div class="table-price-border">
                                 <h3 class="mb-1 h4 ">Quote(List)</h3>
                              </div>
                           </div>
                        </header>
                        <div class="card-body">
                           <a href="/quote-list" type="button" class="btn btn-secondary ">Go</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center mt-5 pt-5">
                  <div class="col-auto">
                     <div class="alert bg-light shadow mb-0 text-center radius-2">
                        <p class="mb-0 small"><span class="mn-top">Site designed by <a href="https://www.codestormx.in"><strong>Codestormx</strong></a></span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
	</main>
	<footer></footer>
	<script type="text/javascript" src=""></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        .head{
            background-color: #FFAEAE;
        }
    </style>
</body>

</html>