<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ5KTX927T"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-TZ5KTX927T');
      </script>
      <!-- Metas -->
      <meta charset="utf-8">
      <title>History of athmakalin sangamam</title>
      <meta name="description" content="">
      <meta name="author" content="Codestormx">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/venobox.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/owl-carousel/owl.carousel.css" rel="stylesheet"  media="all"/>
      <link href="css/owl-carousel/owl.theme.css" rel="stylesheet"  media="all" />
      <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
   </head>
   <body>
      <div class="loader">
         <div class="loader-inner">
            <div class="bounce">
  <div class="bounce-one"></div>
  <div class="bounce-two"></div>
</div>
         </div>
      </div>
      <div id="wrapper" class="wrapper">
         <header class="header default">
            <div class="header-section">
               <div class="container-fluid ">
                  <nav class="navbar navbar-expand-lg header-navbar ml-0 ml-lg-5">
                     <a class=" navbar-brand navbar-logo scroll" href="/">
                     <img class="mb-0 logo-light" src="assets/img/Logo.png" height="100%" width="100%" alt="Logo">
                     <img class="mb-0 logo-dark" src="assets/img/Logo.png" height="100%" width="100%" alt="Logo">
                     </a>
                     <button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
                     <span class="fa fa-bars"></span>
                     </button>
                     <div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end mr-5 ">
                        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class=" navbar-nav  header-navbar-nav">
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/">Home</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/history">About</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link" href="/#services">class</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/gallery">Gallery</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/media">Media</a></li>
                           <li itemprop="name"><a itemprop="url" class=" nav-link scroll" href="/blogs-ln=English">Articles</a></li>
                           <li itemprop="name"><a itemprop="url" class="nav-link scroll mb-3 mb-lg-0" href="/quotes">Quotes</a></li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </header>
<!--History -->
         <section id="about">
            <div class="container spacer-double-lg border-bottom">
               <div class="row justify-content-between align-items-center">
                  <div class="col-md-6 mb- mb-lg-5 text-center">
                     <img class="mb-4 max-width-9" src="assets/img/Logo.png" alt="">
                     <div class="mb-4">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">AHAM BRAMASHMI</span>
                        <h1 class="mb-0">Athmakalin Sangamam</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
<!--       Tab Switch           -->
                     
                      
                      <button id="btnhistory1" class="btn btn-secondary btn-sm mb-5" onclick="history()">Translate to Tamil</button>

                   <div id="content-01" style="overflow-y: scroll; height:400px;">
                     These are the words directly spelled out from out master Sri Anandha Agasta. 

                     Exactly one year ago on may 2019, I was always living an awakened blissful life, spending a large part of the time with the kids, healthy life process with similar vibrating souls at other times, joy, dance, celebrations, music, loving Nature, poetry. I am called Kumar by beloved parents and Karate Siva by others and Agasta by my Gurus.  

                     Athmakalin Sangama was started for the 7 souls who have been in a long day connected with me, who were ready to live and die with us along with my wife. The aim is, for the souls to live together in a blissful healthy way in one place, attain the enlightenment which is the noble purpose of life and to reach the state of Samadhi known as Arhant in one place altogether. 

                     The training for this called Karma Yoga started 7 months ago when I have decided to squeeze out the essence of the spiritual Knowledge, I had learned from wandering around for 20 years and give it to those 7 souls in 2 years. Karma yoga is the act of doing for God or any of the activities given by the Guru with full involvement (devotee) and without any attachment, any expectation. Because when you do a karma with an expectation there comes an attachment to that expectation. That attachment is the cause of all your karma. It can cause fluctuations in your involvement. It was decided to conduct this Karma Yoga practice in 4 phases. Making 100 YouTube VDOs, Website Designing, 500 articles in the first phase. And deciding to prepare the living space for the samadhi. Karma Yogas: Divided according to the qualifications of the 7 souls and thier lifestyle and skills. 35 other souls with similar frequencies have joined to help them harmonize.  

                     With that their ego also began to show its head out. Some souls were ready to be cut off while some souls were ambushed as they prepared to escape. Some are Fearful. Some attacked as well. In the midst of this the exercises for everyone like Atma Sutra, Atma Tantra, Atma Satori, Atma Vipassana and so on continues. Atma Paravasa and Atma Samadhi were not given due to lack of qualified souls for it. Preliminary work on Karma Yoga continued. Misunderstood souls parted. Unworthy souls were expelled. Realized souls re-entered. The task of quietly Witnessing everyone continued. Today (19 Sept- 2020) the first step of Karma Yoga is completed after 7 months. Among the tasks given, an additional 250 quotations also are made by the standing committee as part of their karma yoga Out of a total of 42 souls, 5 souls are finally qualified as Karma Yogis in the first phase, out of 7 souls who have invested their own problems and selfishness and missed out on Karma Yoga. The next 3 phases of Karma Yoga training will be started for them. It is through this karma yoga that our knowledge expands and we are able to realize the enlightenment and able to work towards it. Our qualities are getting superior. We are able to travel continuously in a positive way towards our goal of full awakening with the same mindfulness. 
                     and Hence continue to do the karma yoga with full awareness without any expectation or attachment to prepare for the next phase of karma yoga. The Karma Yoga stages for them will continue till January 16, 2022. At the same time soul trainings will be continued along with spiritual training for themselves. In the coming days Atma Uluji, Atma Tibetan Yoga First Level, Second Level and Atma Psychic Primary, Second Level, also the exclusive exercises for themselves will continue. Wisdom does not come with the knowledge of the brain. And it is not something that can be obtained by keeping only the love of the heart. Love will set a path. That is all. Even Buddha has trained Vipassana in 536 births to attain Enlightenment. After that he has given us some methods and trainings with his experience to achieve Awakening easily. Awakening is something that is known to our knowledge only, bringing it to experience is not such a trivial matter. It’s like an alchemy. Karma: Play a very important role here in preventing awakening. Hence, we have to attain some sidhis like seeing our past and future life and few more exercises helps in easily destroying our karma. So, you can't progress without throwing your knowledge in the trash. What we want to achieve is something Non - Existential! Something that can never be achieved ...? This is a journey aimed at something that is not in the destination ...! Our journey is like a blind man traveling with a lamp in his hand. The only thing here which is our companion is Perseverance that too is like that lamp with the blind man. Our aim is to attain the state of awakening called enlightenment and thereby attain the state of salvation called ArahantAll live happily together in the same place with awareness and attain samadhi. As far as our intellect knows Bliss with Awakening is the supremacy of life. Sri Sri, These are the words of Bodhi Satva. 
                  </div>
<!--
                     <p class="mb-6" id="myDIV" >Mountain Pose is the base for all standing poses it gives
you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
-->
<!--       Scriptfile for Toogle Switch            -->
 <script>                     
   var t = true;
   console.log(typeof(t))
 function history() {
  var x = document.getElementById("content-01");
  var b=document.getElementById("btnhistory1");
        //Use English content here 
   if (t)
  {
    //Use Tamil Content Here  
    x.innerHTML = "சரியாக ஓர் ஆண்டுகளுக்கு முன் ...எப்போதும் ஆனந்தமாக விழிப்போடு இருப்பது...குழந்தைகளோடு பெரும் பகுதியான நேரத்தினை செலவழிப்பது..மற்ற நேரங்களில் ஒத்த அதிர்வுடைய ஆத்மாக்களுடன் ஆரோக்கியமான வாழ்வியல் செயல்முறை, ஆனந்தம், ஆட்டம், பாட்டம், கொண்டாட்டம் இசை இயற்கையுடனான காதல்.கவிதை. நேர்மறையுடன் கூடிய தெளிந்த சிந்தனை என அற்புதமான வாழ்வியல் முறையில் பல ஆண்டுகளாக வாழ்ந்து வந்த பெற்றவர்களால் குமார் என்றும் மற்றவர்களால் கராத்தே சிவா என்றும் எமது குருநாதர்களால் அகஸ்டா என்றும் அழைக்கப்பட்ட இந்த நான். எனது மனைவியுடன் சேர்ந்து என்னுடன் நீண்ட நாள் தொடர்பில் உள்ள எம்முடன் இணைந்து வாழ்ந்து இறப்பதற்கு தயாராக இருந்த 7ஆத்மாக்களையும் உடன் சேர்த்துக் கொண்டு எம்முடன் இணைந்த அந்த 7-வருக்காக துவங்கப்பட்டதே இந்த ஆத்மாக்களின் சங்கமம். 9 ஆத்மாக்கள் ஒரே இடத்தில், யாம் வாழும் ஆனந்தமான ஆரோக்கியமான வாழ்வை கூட்டாக ஒன்று சேர்ந்து வாழ்ந்து வாழ்வின் உன்னத நோக்கமான விழிப்பு எனும் ஞானநிலை அடைந்து ஒரே இடத்தில் அர்ஹந்த் ஏனப்படும் சமாதி நிலையை அடைந்தே ஆக வேண்டும் என்பதே இதன் நோக்கம். யாம் 20 ஆண்டுகளாக சுற்றி திரிந்து  கற்றுக்கொண்ட ஆன்மீக விஷய சாரங்களை பிழிந்தெடுத்து 2 ஆண்டுகளில் அந்த 7வருக்கும் வழங்க முடிவு செய்யபட்டு  7 மாதங்களுக்கு முன்பு ஆரம்பிக்கப்பட்டது தான் இந்த கர்மயோகத்திற்காக  பயிற்சி. கர்மயோகம் என்பது.இறைவனுக்காக செய்யப்படுகின்ற அல்லது குருவால் வழங்கப்பட்ட எந்த ஒரு செயலையும் முழு மனதுடன் முழு ஈடுபாட்டோடு ( total involment - devotee ) எந்த ஒரு எதிர்பார்ப்போ ( expectation ) பற்றுதலோ ( attachment) இல்லாமல் முழு விழிப்போடு செய்யக் கூடிய காரியம்  ஆகும். ஏனெனில் ஒரு எதிர்ப்பார்போடு ஒரு கர்மத்தை நீ செய்யும் போது அந்த எதிர்பார்பிற்கான பற்று உண்டாகும். அந்த பற்றுதான் உனது அனைத்து கர்மாவுக்கும் காரணமாகும். அது உனது ஈடுபாட்டில் ஏற்ற இறக்கத்தை உண்டாக்கும். ( சஞ்சை கவனம் தேவை) இந்த கர்ம யோக பயிற்சி 4 கட்டங்களாக நடத்த தீர்மானிக்கப்பட்டது. முதல் கட்டத்தில் 500 ஆர்ட்டிகல்கள். 100 யூடியுப் Video கள் தயாரிப்பது. வெப்சைட் டிசைன் செய்வது. மற்றும் சமாதிக்கான வாழும் இடத்தை தயார் செய்வது என முடிவெடுத்து.  கர்ம யோகங்கள் : 7-வரின் தகுதிகளுக்கும் வாழ்வியல் நடைமுறைக்கும் தகுந்தாற்போல் பிரித்து வழங்கப்பட்டன. பின் இவர்களுக்கு இணக்கமாக உதவும் வகையில் மேலும் ஒத்த அதிர்வெண் கொண்ட 35 ஆத்மாக்களை இவர்களுடன் இனைந்து செயல்பட கர்மயோகம் இனிதே துவங்கியது. உடன் அவர்களின் ஈகோவும் வேகமாக மேலேரி துளிர்விட்டு தன் தலையை வெளியே காட்ட துவங்கியது. தலையை வெளியே நீட்டினால் தானே வெட்டுவதற்கு வசதியாக இருக்கும்.சில ஆத்மாக்கள் வெட்டுப்பட தயாராக இருந்தன சில ஆத்மாக்கள் தப்பிக்க தயாராகின பதுங்கியவர்கள். பயந்தவர்கள். பாய்ந்தவர்கள். என அனைவருக்குமான பயிற்சிகளாக தொடர்ந்து  •	ஆத்ம சூத்ரா.  •	ஆத்ம தந்ரா.  •	ஆத்ம சடோரி.  •	ஆத்ம விபாசனா. போண்ற பல்வேறு நிலைபாட்டுடன் கூடிய பயிற்சிகள் வழங்கப்பட்டன. •	ஆத்ம பரவசா.  •	ஆத்ம சமாதி  ஆகிய இரண்டு பயிற்சிகளும் தகுதியான ஆத்மாக்கள் இல்லாத காரணத்தால் வழங்கப்படவில்லை.   முதற்கட்ட கர்மயோக பணிகள் தொடர்ந்தன.கர்மயோகம் என்பது அந்த இறைவனுக்கோ குருநாதனுக்கோ செய்யப்படுவது அல்ல முழுக்க முழுக்க தங்களுக்காக தங்களை தயார் படுத்த நடத்தப்படும் நாடகம் என்பதை புரிந்து கொண்ட ஆத்மாக்கள் தொடர்ந்தன. தவறாக புரிதலுடைய ஆத்மாக்கள் பிரிந்தன. தகுதியற்ற ஆத்மாக்கள் வெளியேற்றப்பட்டன. உணர்ந்த ஆத்மாக்கள் மீண்டும் உள்நுழைந்தன.அமைதியாக அனைவரையும் வேடிக்கை பார்க்கும் பணி தொடர்ந்தது. இன்று கர்ம யோகத்தின் முதல் படி 7-மாதங்களுப் பின் முடிவடைந்தது. ஶ்ரீஶ்ரீ கொடுக்கப்பட்ட பணிகளில் 500 ஆர்ட்டிகல்ஸ் 100 utube Video கள் மட்டும் இன்றி கூடுதலாக 250 கொட்டேசன்கள் தயாரித்து தமது கர்மயோகத்தினை தொடரும் நிலைகுழுவும். தமது சொந்த பிரச்சனைகளையும் சுயலாபத்தையும் இதில் உள்ளீடு செய்து கர்ம யோகத்தை தவறவிட்ட ஆத்மாக்களும் என கடைந்தெடுத்த 7ஆத்மாக்களுடன் 35 ஆத்மாக்கள் என மொத்தம் 42 ஆத்மாக்களில்  முதல் கட்டத்தில் தகுதியான கர்மயோகியாக 5 ஆத்மாக்கள்  இறுதியில் தகுதிபெற்று  இருக்கிறார்கள். இவர்களுக்கான அடுத்த 3 கட்ட கர்மயோக பயிற்ச்சிகள் துவங்கப்படும். இந்த கர்மயோகத்தின் மூலமாக தான்நமது அறிவு விரிவடைகிறது ஞானநிலையை உணர்ந்துகொள்ள முடிகிறது. அதைநோக்கி பயனிக்க முடிகிறது. நமது குணநலன்கள் மேன்மையடைகிறது. தொடர் நேர்மறையில் பயணிக்க முடிகிறது மேலும் 24மணிநேரமும் ஒரே சித்தனையில் நமது இலக்கான முழுவிழிப்பை நோக்கி பயணிக்க முடிகிறது என்பதனை நினைவில் கொண்டு அடுத்த 2ம் கட்ட கர்ம யோகத்திற்கு தயாராகும் படி தகுதியான எந்த ஒரு செயலையும் முழு ஈடுபாட்டோடு செய்வது எதிர்பார்ப்போ பற்றுதலோ இல்லாமல் முழு விழிப்புணர்வோடு செய்வது என்பதை மட்டும் நினைவில் கொண்டு யோகத்தை தொடருங்கள். 2022- ம் ஆண்டு ஜனவரி 16 ம் தேதி வரை தங்களுக்கான கர்ம யோக படி நிலைகள் தொடரும். அதே நேரத்தில் தங்களுக்கான ஆன்மீக பயிற்சியுடன் ஆத்ம பயிற்சிகள் தொடர்ந்து வழங்கப்படும். வரும் நாட்களில்.  •	ஆத்ம உளூஜி.  •	ஆத்ம திபெத்திய யோகா முதன் நிலை, இரண்டாம் நிலை.....  •	ஆத்ம சைகிக் முதன்நிலை, இரண்டாம் நிலை... என ஏற்கனவே குறிப்பிட பட்டுள்ள  பயிற்சிகள் மட்டும் அன்றி தங்களுக்கான பிரத்யோக பயிற்சிகளும் தொடரும். ஞானம் என்பது மூளையின் அறிவை  கொண்டு கிடைப்பதல்ல. மேலும் அது இதயத்தின்  அன்பை மட்டும் வைத்து கொண்டு பெற கூடிய விஷயமும் அல்ல.  அன்பு ஒரு பாதையை அமைந்து கொடுக்கும். அவ்வளவே.விழிப்பை அடைய புத்தனே விபாசனாவை 536 பிறவிகளாக பயற்சி செய்துள்ளார்.அதன்பின் விழிப்பை எளிதில் அடைய தமது அனுபவத்தினை கொண்டு நமக்கு சிலவகை பயிற்சிகளையும் வழங்கி உள்ளார். விழிப்பு என்பது நமது அறிவிற்கு தெரிந்த.....தால் மட்டுமே....அதை அனுபவத்திற்கு கொண்டு வருவது அவ்வளவு சாதரணமான விஷயம் அல்ல. அது ஒரு ரசவாதம் போன்றது.  கர்மா: விழிப்படைவதை தடுப்பதில் இங்கு மிகமுக்கிய பங்கு வகிக்கிறது. எனவே நமது past  மற்றும் future life காண்பது என்பது நமது கர்மாவை எளிதில் அழிக்க விபாசனா விற்கு துணை புரியவதுடன் மேலும் ஒருசில பயிற்சிகளையும்  நாம் கைவர பெற்றாக வேண்டும். எனவே உன் அறிவை தூக்கி குப்பையில் போடாமல் உன்னால் முன்னேற முடியாது.  நாம் அடைய நினைப்பது .. இல்லாத ஒன்றை....! அடையவே முடியாத ஒன்றை...? இலக்கே இல்லாத ஒன்றை இலக்காக்கிய பயணம் இது...!  குருடன் ஒருவன் கையில் விளக்குடன் பயணிப்பதை போல நமது பயணம். இங்கு ஒன்றே ஒன்று தான் நமக்கு துணை அது சிரதாவிவேசா...  அதுவும் அந்த விளக்கு போல...தான்....  நமது நோக்கம் விழிப்பு எனப்படும் ஞானத்தை அடைவது அதன் மூலம் அரஹந்த் என்ற முக்தி நிலையை அடைவது. அனைவரும் ஒரே இடத்தில் விழிப்புடன் ஒன்றாக ஆனந்தமாக வாழ்ந்து சமாதி அடைவது. நமது சிற்றறிவிற்கு தெரிந்த வரை விழிப்புடன் கூடிய ஆனந்தமே உச்சம்.  ஶ்ரீஶ்ரீ இவன். ஒரு போதிசத்துவா..  " ;
    t=false;
    b.innerHTML="Translate to English";
  } else {
    //Use English content here
    x.innerHTML = `These are the words directly spelled out from out master Sri Anandha Agasta. 

Exactly one year ago on may 2019, I was always living an awakened blissful life, spending a large part of the time with the kids, healthy life process with similar vibrating souls at other times, joy, dance, celebrations, music, loving Nature, poetry. I am called Kumar by beloved parents and Karate Siva by others and Agasta by my Gurus.  

Athmakalin Sangama was started for the 7 souls who have been in a long day connected with me, who were ready to live and die with us along with my wife. The aim is, for the souls to live together in a blissful healthy way in one place, attain the enlightenment which is the noble purpose of life and to reach the state of Samadhi known as Arhant in one place altogether. 

The training for this called Karma Yoga started 7 months ago when I have decided to squeeze out the essence of the spiritual Knowledge, I had learned from wandering around for 20 years and give it to those 7 souls in 2 years. Karma yoga is the act of doing for God or any of the activities given by the Guru with full involvement (devotee) and without any attachment, any expectation. Because when you do a karma with an expectation there comes an attachment to that expectation. That attachment is the cause of all your karma. It can cause fluctuations in your involvement. It was decided to conduct this Karma Yoga practice in 4 phases. Making 100 YouTube VDOs, Website Designing, 500 articles in the first phase. And deciding to prepare the living space for the samadhi. Karma Yogas: Divided according to the qualifications of the 7 souls and thier lifestyle and skills. 35 other souls with similar frequencies have joined to help them harmonize.  

With that their ego also began to show its head out. Some souls were ready to be cut off while some souls were ambushed as they prepared to escape. Some are Fearful. Some attacked as well. In the midst of this the exercises for everyone like Atma Sutra, Atma Tantra, Atma Satori, Atma Vipassana and so on continues. Atma Paravasa and Atma Samadhi were not given due to lack of qualified souls for it. Preliminary work on Karma Yoga continued. Misunderstood souls parted. Unworthy souls were expelled. Realized souls re-entered. The task of quietly Witnessing everyone continued. Today (19 Sept- 2020) the first step of Karma Yoga is completed after 7 months. Among the tasks given, an additional 250 quotations also are made by the standing committee as part of their karma yoga Out of a total of 42 souls, 5 souls are finally qualified as Karma Yogis in the first phase, out of 7 souls who have invested their own problems and selfishness and missed out on Karma Yoga. The next 3 phases of Karma Yoga training will be started for them. It is through this karma yoga that our knowledge expands and we are able to realize the enlightenment and able to work towards it. Our qualities are getting superior. We are able to travel continuously in a positive way towards our goal of full awakening with the same mindfulness. 

 

 and Hence continue to do the karma yoga with full awareness without any expectation or attachment to prepare for the next phase of karma yoga. The Karma Yoga stages for them will continue till January 16, 2022. At the same time soul trainings will be continued along with spiritual training for themselves. In the coming days Atma Uluji, Atma Tibetan Yoga First Level, Second Level and Atma Psychic Primary, Second Level, also the exclusive exercises for themselves will continue. Wisdom does not come with the knowledge of the brain. And it is not something that can be obtained by keeping only the love of the heart. Love will set a path. That is all. Even Buddha has trained Vipassana in 536 births to attain Enlightenment. After that he has given us some methods and trainings with his experience to achieve Awakening easily. Awakening is something that is known to our knowledge only, bringing it to experience is not such a trivial matter. It’s like an alchemy. Karma: Play a very important role here in preventing awakening. Hence, we have to attain some sidhis like seeing our past and future life and few more exercises helps in easily destroying our karma. So, you can't progress without throwing your knowledge in the trash. What we want to achieve is something Non - Existential! Something that can never be achieved ...? This is a journey aimed at something that is not in the destination ...! Our journey is like a blind man traveling with a lamp in his hand. The only thing here which is our companion is Perseverance that too is like that lamp with the blind man. Our aim is to attain the state of awakening called enlightenment and thereby attain the state of salvation called ArahantAll live happily together in the same place with awareness and attain samadhi. As far as our intellect knows Bliss with Awakening is the supremacy of life. Sri Sri, These are the words of Bodhi Satva. 

 `;
    t=true;
    b.innerHTML="Translate to Tamil";
  }
}
                      
</script>                     
                      
<!--          End of tab switch            -->
                  </div>
                  <div class="col-md-6">
                     <div class="position-relative" >
                        <div class="w-100 shape-centered-nvh">
                           <figure class="random-shape" >
                              <svg version="1.1" width="100%"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 921.6 655.9"
                                 enable-background="new 0 0 921.6 655.9" xml:space="preserve">
                                 <path fill="none" stroke="#FF7D7F" stroke-width="15" stroke-miterlimit="10" d="M792.4,64.1c17.4,14.7,33.2,31.2,47.4,49c2.2,2.7,4.3,5.5,6.4,8.3c1.3,1.7,2.5,3.4,3.7,5.1
                                    c0.8,1.1,1.6,2.2,2.4,3.3c57.1,82.2,75.8,185.1,51.3,282.1c-4,15.7-9.1,31.2-15.2,46.2c-0.9,2.3-1.9,4.6-2.9,6.8l0,0
                                    c-13.5,31-31.6,59.9-53.5,85.7c-3.1,3.7-6.3,7.3-9.5,10.7c-8.7,9.4-18,18.1-27.9,26.3c-121.4,99.7-286.4,58.9-449.2,2.5
                                    c-4-1.4-8-2.8-12-4.2c-1-0.3-1.9-0.7-2.9-1C-112,427.2-80,217.8,305.8,103.7C488.6,49.6,647.1-59.3,792.4,64.1z"/>
                              </svg>
                           </figure>
                        </div>
                        <div class="row gap" >
                           <div class="col-5 align-self-end  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_01.jpg" alt="">
                           </div>
                           <div class="col-7  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_02.jpg" alt="">
                           </div>
                           <div class="col-5 offset-1  mb-2 mb-lg-0">
                              <img class="img-fluid w-100" src="assets/img/history_00_03.jpg" alt="">
                           </div>
                           <div class="col-5 mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_04.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
          
          
                     <!--          History-01           -->
         <section id="benefits">
            <div class="container spacer-double-lg">
               <div class="row">
<!--
                  <div class="col">
                     <div class="mb-5 pb-5 text-center">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">Free Yourself</span>       
                        <h1 class="mb-0">Our Mission</h1>
                         <p>To reach the crescendo in spreading love and celebration in life by  offering spiritual practices.</p>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                  </div>
-->
               </div>
               <div class="row justify-content-lg-between align-items-center">
                  <div class="col-md-6">
                     <div class="position-relative" >
                        <div class="w-100 shape-centered-nvh">
                           <figure class="random-shape" >
                              <svg version="1.1" width="100%"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 921.6 655.9"
                                 enable-background="new 0 0 921.6 655.9" xml:space="preserve">
                                 <path fill="none" stroke="#FF7D7F" stroke-width="15" stroke-miterlimit="10" d="M792.4,64.1c17.4,14.7,33.2,31.2,47.4,49c2.2,2.7,4.3,5.5,6.4,8.3c1.3,1.7,2.5,3.4,3.7,5.1
                                    c0.8,1.1,1.6,2.2,2.4,3.3c57.1,82.2,75.8,185.1,51.3,282.1c-4,15.7-9.1,31.2-15.2,46.2c-0.9,2.3-1.9,4.6-2.9,6.8l0,0
                                    c-13.5,31-31.6,59.9-53.5,85.7c-3.1,3.7-6.3,7.3-9.5,10.7c-8.7,9.4-18,18.1-27.9,26.3c-121.4,99.7-286.4,58.9-449.2,2.5
                                    c-4-1.4-8-2.8-12-4.2c-1-0.3-1.9-0.7-2.9-1C-112,427.2-80,217.8,305.8,103.7C488.6,49.6,647.1-59.3,792.4,64.1z"/>
                              </svg>
                           </figure>
                        </div>
                        <div class="row gap" >
                           <div class="col-5 align-self-end  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_01_02.png" alt="">
                           </div>
                           <div class="col-7  mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_01_01.png" alt="">
                           </div>
                           <div class="col-5 offset-1  mb-2 mb-lg-0">
                              <img class="img-fluid w-100" src="assets/img/history_01_03.png" alt="">
                           </div>
                           <div class="col-5 mb-2">
                              <img class="img-fluid w-100" src="assets/img/history_00_02.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
                   
<!--               History-01 text    -->
                   <div class="col-md-6 mb- mb-lg-5 text-center">
<!--                     <img class="mb-4 max-width-9" src="assets/svg/logo-pink.svg" alt="">-->
                     <div class="mb-4">
                        <span class="text-uppercase text-secondary font-secondary font-size-12">The Journey of</span>
                        <h1 class="mb-0">Dr. Sri Anandha Agastha</h1>
                        <img class=" max-width-4" src="assets/svg/title-line.svg" alt="">
                     </div>
                       
<!--       Tab Switch           -->
                     
                      
                      <button id="btnhistory2" class="btn btn-secondary btn-sm mb-5" onclick="history01()">Translate to Tamil</button>

                   <div id="history01" style="overflow-y: scroll; height:400px;">Dr. Sri Ananda Agasta, whose real name is Kumar, is also known by his spiritual guru as Agasta and Karate Siva by friends and relatives and by his students as Siva Master. It was changed by his father as Sivakumar when he was going to sixth class. He was born on Thursday, May 2, 1974 to parents Chellappan and Chinnammal. His father's hometown is Ramapurampudur. He served as an Indian Army soldier in the Madras Regimental Group of the Indian Army. Shiva master (Agasta) was born in a military hospital while his father was on duty in Bangalore in the south. As the if a Tiger jumps eight feet, its calf will jump sixteen feet, His father not only served in the military but was also a boxing champion, this was the reason for shiva master’s Physical and mental and psychiac well being. His father was born to Nallammal and Chinnakaundar also known as Mental Counder, a farming family from Ramapurampudur. Siva Master's mother Chinnammal was born to Chinnusamy and Sellammal from Nallipalayam village in Namakkal district. Chinnusamy, the maternal grandfather, calls him Kandambaalaiyatthar. They too belong to a farming family. Siva Master's siblings are only an elder sister Kavita. The first four years were spent in Bangalore as Siva Master's father worked in Bangalore. He, was born and raised in Bangalore. Four years later, at the age of five he continued his schooling in Nallipalayam village in Namakkal in his native Tamil Nadu. Primary education from first class to fifth class started at Kalaimagal Government Primary School. Siva Master studied at Nallipalayam Government (co-education) High School, Namakkal North from class VI to class XII. He had a keen interest in sports since the school season. He was interested in football, kabaddi, volleyball and baseball. From the age of six, his father would pay him five paise a Monday to buy snacks. He will put it in the piggy bank. The idea was to satisfy his own economic needs. So, he asks to buy a bag of candy to his friend from Namakkal,they will get one candy in return. A bag of candy is one rupee 80 paise. If he sells it, he will get a profit of twenty paisa. His friend Mani, a student, buys a bag of candy and gives it to him. Mani is currently a pastor in a Christian church. He had the self-confidence to fulfill his economic need at an early age. During the Pongal festival, he conducted sports competitions such as skating, tug-of-war, bicycle racing, and running. Also he involved in things like screening movies during the Mari Amman festival. He also conducted kabaddi competitions. During that time, his team announced that the prize money was ten thousand and one and held kabaddi competitions. By the time he finished ninth grade, his friend Senthil had gone to another side to learn karate. On his advice,  Siva Master also went to Sensai P.K.U. Kanth and started learning the art of karate. But his father did not allow it and said you have already learnt two belts and it is enough. He also denied that he could pay the fee of six rupees a month.  

Siva master and his friend and asked his father just give permission and he’ll sell candy and pay his fes all by himself. Friend Senthil persuaded and got permission saying that this art of karate will help them to go for a higher job in the police department in future. He bought two belts from his first master till the 8th grade. Then from the ninth grade to the twelfth grade, he learnt karate with P.K.U. Kanth Master and bought black belt in karate. College life (1989 - 1994) Siva Master was a scholar undergraduate in Geography, studied in the Government Men's (Co-Education) Arts College. He is very simple, he ride all his way to college though cycle. College only lasts half a day. After college, he went to work in a welding workshop for the remaining half day without letting his parents know. Siva Master developed self-economy since his class 6th, During school season from class 10th to 12th class he could not continue it. Only the annual government subsidy went into small savings. No other income. So the only opportunity he had at the time to improve his self-economy was to go with his charitable forum friend Peter and  work for welding workshop. He decided to use it properly. He was curious to know a lot about any job. He was adamant that while developing the economy, he  should also be able to develop subject knowledge in various fields. The idea of martial arts keeps running through his mind 24 hours a day. It took issleep at night It is their family custom to go to bed at 9.00 am. Siva master will tell his father this is no ventilation inside and so he’ll lie down outside, and prepares to lie down on the doorstep outside the house. Over 10.30 pm his friend Nithiyanantham (currently running a large company called Vinayaka Video Vision) will return after finishing his family hotel shop. Siva master, nithyanatham and his other friend Selamba Saravanan (who works as a computer engineer in the United States) and Baburaj (who died as a police inspector) , with the pillows he will fake that someone is sleeping there and will go to the nearest government school to practice karate. Karate training with friends until 12 at night. As the college days continued. The college took us to the departmental tourist sites once a year. They took us to Yercaud for the second year for the botany department and for the second time in our lives we took photos there. Similarly, once a year, selected students at NCC will take a 10-day camp at a parachute jumping training camp in Uttar Pradesh. Attending the 10-day NCC camp in Ooty was unforgettable during college days....(Other contents sooner)  </div>
<!--
                     <p class="mb-6" id="myDIV" >Mountain Pose is the base for all standing poses it gives
you a sense of how to ground in to your feet and feel the earth below you. Mountain pose may seem like "simply standing," but there is a ton going on.</p>
-->
<!--       Scriptfile for Toogle Switch            -->
 <script>  
 var f = true;                   
 function history01() {
  var x = document.getElementById("history01");
  var b2=document.getElementById("btnhistory2");
   if (f)
  {
    x.innerHTML = "Dr.ஶ்ரீ ஆனந்த  அகஸ்டா என்று தம் ஆன்மீக குருவாலும் காராத்தே சிவா என்று நண்பர்கள் மற்றும் உறவினர்களாலும் சிவா மாஸ்டர் என்று தனது மாணவர்களாலும் அழைக்கப்படுகின்ற இவரின் இயற்பெயர் குமார்.  இது இவர் ஆறாம் வகுப்பு செல்லும் போது சிவகுமார் என தந்தையாரால் மாற்றப்பட்டது.  இவர் 1974 ஆம் ஆண்டு மே மாதம் 2-ம் நாள் வியாழக்கிழமை அன்று பிறந்தார்  பெற்றோர்கள் செல்லப்பன் மற்றும் சின்னம்மாள். இவரின் தந்தையாரின் சொந்த ஊர் இராமாபுரம்புதூர் .  இவர் இந்திய இராணுவத்தின் மெட்ராஸ் ரெஜிமெண்டல்  குரூப் படை பிரிவில்  இந்திய  இராணுவ வீரராக பணிபுரிந்து வந்தார்.  					மெட்ராஸ் ரெஜிமெண்டல் குரூப்.. தென்  பகுதியில் பெங்களூரில் தந்தையார் பணியில் இருந்த போது இராணுவ மருத்துவமனையில் பிறந்தார் அகஸ்டா. ஆடு எட்டு அடி பாய்ந்தால் குட்டி பதினாறு அடி பாயும் என்று கூறுவர் அது போல் சிவா மாஸ்டரின் உடல் மற்றும் மனபலத்திற்க்கு காரணமாகவும் முன்னோடியாகவும் இருந்தது இவரின் தந்தை எனக் கூறலாம். இவரின் தந்தை இராணுவத்தில் பணிபுரிந்ததோடு  மட்டுமின்றி குத்துச்சண்டை சேம்பியனாகவும் இருந்தார். இவர் விவசாய குடும்பத்தில் பிறந்தவர் இவரின் பெற்றோர்கள்  நாமக்கல் மாவட்டம் இராமபுரம் புதுரை சேர்ந்த நல்லம்மாள்  மற்றும்  சின்னாகவுண்டர் (எ) லூசு கவுண்டர் என்றும் அழைப்பார்கள். சிவா மாஸ்டரின் தாய் சின்னம்மாள். இவரின் பெற்றோர்கள், நாமக்கல் மாவட்டம் நல்லிபாளையம் கிராமத்தை சேர்ந்த சின்னுசாமி  மற்றும்  செல்லம்மாள்.  தாய்வழி  பாட்டனாரான சின்னுசாமி ,இவரை   கந்தம்பாளையத்தார்  என அழைப்பர்  . இவர்களும் விவசாய குடும்பத்தை சேர்ந்தவர்களே. சிவா மாஸ்டரின் உடன்பிறந்தவர்கள் என்றால்   ஒரு மூத்த சகோதரி கவிதா மட்டுமே  ஆவார். சிவா மாஸ்டரின் தந்தைபெங்களூருவில் பணியாற்றியதால் முதல் நான்கு வருடம்  பெங்களூரில் கழிந்தது. குமார் எனும் சிவா மாஸ்டர் பெங்களூரில்  பிறந்து வளர்ந்தார். நான்கு ஆண்டுகளுக்குப் பின் தாய்  நாடான தமிழகத்தில் நாமக்கல்லில் உள்ள நல்லிபாளையம் கிராமத்தில் தமது ஐந்தாவது வயதில் பள்ளி படிப்பை தொடர்ந்தார். முதல் வகுப்பு முதல் ஐந்தாம் வகுப்பு வரை தொடக்க கல்வியானது கலைமகள் அரசு தொடக்கப் பள்ளியில் ஆரம்பமானது.     பள்ளிப்பருவம்வெளியுலகம் அறிகிறார்					சிவா மாஸ்டர் அவர்கள் ஆறாம் வகுப்பு முதல் பன்னிரண்டாம் வகுப்புவரை நல்லிபாளையம் அரசு ( இருபாலார் ) மேல்நிலைப்பள்ளி  நாமக்கல் வடக்கு என்ற பள்ளியில் பயின்றார். பள்ளி பருவத்தில் இருந்தே விளையாட்டின் மீது தீவிர ஆர்வம் கொண்டிருந்தார் .  கால்பந்து, கபடி, வாலிபால் மற்றும் பேஸ் பால் எனப்படும் ஒலக்கத்தடி என்று கூறக்கூடிய விளையாட்டுகளிலும் தீவிர ஆர்வம் கொண்டிருந்தார்.					           					ஆறாம் வகுப்பு படிக்கும் பொழுதிலிருந்து இவரின் தகப்பனார் திண்பண்டம் வாங்க திங்கள் கிழமை தோறும் ஐந்து பைசா இவருக்கு கொடுப்பார்.  அதை உண்டியலில் சேர்த்து வைத்து விடுவார். . தன்னுடைய பொருளாதார தேவையை தானே பூர்த்தி செய்து கொள்ள வேண்டும் என்ற எண்ணம் இவரிடம் மேலோங்கி இருந்தது. எனவே நாமக்கல் செல்பவர்களிடம் மிட்டாய் பொட்டலம் வாங்கி கொண்டு வரச் சொல்லி நண்பர்களிடம்   சேமித்த பணத்தைக் கொடுப்பார்.   ஒரு ரூபாய்  என்பது  பைசா ஒரு மிட்டாய் பொட்டலம். அதைவிற்றால் இருபது பைசா இவருக்கு லாபம் கிடைக்கும் .அவரது நண்பரான மணி என்ற மாணவன் மிட்டாய்  பொட்டலம்  வாங்கிக் கொண்டு வந்து இவருக்கு  தருவார். தற்போது மணி என்ற அம்மாணவர் கிறிஸ்தவ தேவாலயத்தில் பாதிரியாராக உள்ளார். மிட்டாய் பொட்டலம் வாங்கி வருபவர்களுக்கு ஒரு மிட்டாய் இனாமாகவும் மாஸ்டர் கொடுப்பார். இவ்வாறு தன் பொருளாதாரத் தேவையை தானே நிறைவு செய்து கொள்ள வேண்டும் என்ற தன்னம்பிக்கை சிறு வயதிலேயே இவரிடம் இருந்தது.வருடம் ஒருமுறை இம்மன்றம் வாயிலாக கண் சிகிச்சை  முகாம்  நடத்தினார்கள். பொங்கல் பண்டிகையின் போது வழுக்குமரம் ஏறுதல், கயிறு இழுத்தல்,சட்டி உடைத்தல்,சைக்கிள் பந்தயம், ஓட்டபந்தயம்,  போன்ற விளையாட்டு போட்டிகளை நடத்தினார். மேலும்  உள்ளூர் மாரியம்மன்   பண்டிகையின் போது திரைகட்டி திரைப்படம் திரையிடுவது போன்றவற்றை    செய்வார். மேலும் கபடி போட்டிகளும் நடத்தினார். அந்த காலத்திலேயே பரிசுத்தொகை பத்தாயிரத்து ஒன்று என அறிவித்து இவரின் குழு கபடி  போட்டிகள் நடத்தினார்கள்.										எட்டாம் வகுப்பு முடிந்து ஒன்பதாம் வகுப்பு போகும்போது இவரது நண்பர் செந்தில் என்பவர் வேறு பக்கம் கராத்தே பயில சென்றிருந்தார். அவரின் ஆலோசனை யின் பேரில்  ஐசாமா  கராத்தே பள்ளியில்  சோடாகான் ஸ்டைல் கராத்தே கலையை  சென்சாய் P.K.U. காந்த் என்பவரிடம்  சிவா  மாஸ்டரும் சென்று  கராத்தே கலையை தொடர்ந்து கற்க ஆரம்பித்தார். ஆனால் அவரின் தந்தையார் அதற்கு அனுமதி தரவில்லை பள்ளியில் கற்று இரண்டு பெல்ட் வாங்கியதே போதும் என்றார். மேலும் மாதம் ஆறு ரூபாய் கட்டணம் தன்னால் தர முடியாது என மறுத்தார். கட்டணத்தை தானே மிட்டாய் விற்று செலுத்தி கொள்வதாகவும் அனுமதி மட்டும் வழங்கும்படியும் தன் நண்பனுடன் சென்று அனுமதி கேட்க. நண்பன் செந்தில் எதிர்காலத்தில் காவல் துறையில் உயர் பணிக்கு செல்ல இந்த கராத்தே கலை உதவியாக இருக்கும் என கூறி அனுமதி பெற்றார். தனது முதல் மாஸ்டரிடம்  8-ம் வகுப்பு படிக்கும் போதே இரண்டு பெல்ட் வாங்கினார். பின் ஒன்பதாம் வகுப்பு முதல் பன்னிரண்டாம் வகுப்பு படிக்கும் வரை  சென்சாய் P.K.U.காந்த் மாஸ்டரிடம் கராத்தே கலையை பயின்று பிளாக் பெல்ட் வாங்கினார்.   கல்லூரி வாழ்க்கை (1989  - 1994) சம்பவங்கள்பல பொறுப்புகளை சுமந்த நாட்கள்					சிவா மாஸ்டர் அவர்கள் அறிஞர் அண்ணா அரசு ஆண்கள் (தற்போது இருபாலர்) கலைக்கல்லூரியில் இளங்கலை புவியியல் பாடப் பிரிவில் சேர்ந்து பயின்றார். மிக எளிமையானவர் கல்லூரிக்கு சைக்கிளில் தான் செல்வார். அரை நாள் மட்டுமே கல்லூரி நடக்கும் .கல்லூரி முடிந்த பின் மீதி பாதி அரை நாள் வீட்டிற்கு தெரியாமல்  லேத் பட்டறைக்கு வேலைக்கு சென்றார். அவர்கள் அறிஞர் அண்ணா அரசு ஆண்கள் கலைக்கல்லூரி					ஏனெனில் பள்ளி பருவத்தில் 6-ம் வகுப்பில் இருந்து 9-ம் வகுப்பு வரை சுய பொருளாதாரத்தை மேம்படுத்தி வந்த சிவா மாஸ்டரால் 10-ம் வகுப்பு முதல் 12-ம் வகுப்பு வரை அதனை தொடர முடியவில்லை. வருடம் ஒருமுறை வரும் அரசு உதவிதொகை மட்டுமே சிறுசேமிப்பில் சேரும். வேறு எந்த ஒரு வருமானமும் இல்லை. அதனால் சுய பொருளாதாரத்தை மேம்படுத்த அப்போதைக்கு அவருக்கு கிடைத்த வாய்ப்பு தன் நற்பணி மன்றத்து நண்பன் பீட்டர் சென்று கொண்டு இருந்த லேத் பட்டரை வேலை மட்டுமே வாய்ப்பாக அமைந்தது. அதையும் சரியாக பயன்படுத்தி கொள்ள முடிவெடுத்தார். எந்த வேலை யானாலும் அதைபற்றிய நிறைய விஷயங்களை தெரிந்து கொள்ள வேண்டும் என்ற ஆர்வம் அவறுள் துளிர்விட்டு இருந்தது. பொருளாதாரத்தை மேம்படுத்தும் அதே வேளையில் பல்வேறு துரை சம்பந்தபட்ட விஷய ஞானங்களையும் வளர்த்து கொள்வதாக அவ்வேளை இருக்க வேண்டும் என்பதில் உறுதியாக இருந்தார். 					24-மணி நேரமும் தற்காப்புகலை எண்ணம் மனதில் ஓடிக்கொண்டே இருக்கும். இரவில் தூக்கம் வராது. இயவில் 9.00 மணிக்குள் படுக்கைக்கு செல்வது இவர்களின் குடும்ப வழக்கம். ஃபேன் காற்று வேண்டாம் வெளியில்  காற்றோட்டமாக படுத்து கொள்கிறேன் என தன் தந்தையிடம் கூறி விட்டு வீட்டிற்கு வெளியே வாசலில் கட்டள் போட்டு படுத்து கொள்வார். இரவு 10.30 மணிக்கு மேல் தன் நண்பன் நித்தியானந்தம் (தற்போது விணாயகா விடியோ விஷன் என்ற பெரிய நிறுவணம் நடத்தி வருகிறார்).  தன் குடும்ப ஹோட்டல் கடை முடித்து விட்டு திரும்புவார். மேலும் மாஸ்டரின் நண்பர்கள் செலம்ப சரவணன் ( அமெரிக்காவில் கம்ப்யூட்டர் எண்ஜினியராக பணி புரிகிறார் ) பாபுராஜ் (காவல்துறை ஆய்வாளராக இருந்து இறந்து விட்டார்). ஆகியோருடன் அருகில் உள்ள அரசு பள்ளிக்கு சென்று விடுவார்கள். தலையணைகளை வைத்து ஆள் படுத்திருப்பது போல் கட்டிலை தயார் செய்து வைத்து விடுவர். இரவு 12 மணி வரை நண்பர்களுடன் கராத்தே பயிற்சி . என  கல்லூரி நாட்கள் தொடர்ந்தன.					கல்லூரியில் துறை சார்ந்த சுற்றுலா தளங்களுக்கு வருடம் ஒருமுறை அழைத்து செல்வார்கள். பாட்டனி துறைக்காக எங்களை இரண்டாம் ஆண்டு ஏற்காடு கூட்டிச் சென்றார்கள் வாழ்வில் இரண்டாம் முறையாக அங்கு புகைபடங்கள் எடுத்தோம். அதோபோல் NCC -ல் வருடம் ஒருமுறை தேர்ந்தெடுக்கப்பட்ட மாணவர்கள் 10 நாட்கள் கேம்ப் அழைத்து செல்வார்கள் அது ஒருமுறை பாராசெல்லிங் எனப்படும் பாராசுட்டில் குதிப்பதற்கான பயிற்சி முகாம் உத்திர பிரதேசத்திலும். ஊட்டியில் 10 -நாட்கள் NCC கேம்பில் கலந்து கொண்டது கல்லூரி நாட்களில் மறக்க முடியாதவை.(இதர விஷயங்கள் விரைவில்) " ;
    f=false;
    b2.innerHTML="Translate to English";
  } else {
    x.innerHTML = `Dr. Sri Ananda Agasta, whose real name is Kumar, is also known by his spiritual guru as Agasta and Karate Siva by friends and relatives and by his students as Siva Master. It was changed by his father as Sivakumar when he was going to sixth class. He was born on Thursday, May 2, 1974 to parents Chellappan and Chinnammal. His father's hometown is Ramapurampudur. He served as an Indian Army soldier in the Madras Regimental Group of the Indian Army. Shiva master (Agasta) was born in a military hospital while his father was on duty in Bangalore in the south. As the if a Tiger jumps eight feet, its calf will jump sixteen feet, His father not only served in the military but was also a boxing champion, this was the reason for shiva master’s Physical and mental and psychiac well being. His father was born to Nallammal and Chinnakaundar also known as Mental Counder, a farming family from Ramapurampudur. Siva Master's mother Chinnammal was born to Chinnusamy and Sellammal from Nallipalayam village in Namakkal district. Chinnusamy, the maternal grandfather, calls him Kandambaalaiyatthar. They too belong to a farming family. Siva Master's siblings are only an elder sister Kavita. The first four years were spent in Bangalore as Siva Master's father worked in Bangalore. He, was born and raised in Bangalore. Four years later, at the age of five he continued his schooling in Nallipalayam village in Namakkal in his native Tamil Nadu. Primary education from first class to fifth class started at Kalaimagal Government Primary School. Siva Master studied at Nallipalayam Government (co-education) High School, Namakkal North from class VI to class XII. He had a keen interest in sports since the school season. He was interested in football, kabaddi, volleyball and baseball. From the age of six, his father would pay him five paise a Monday to buy snacks. He will put it in the piggy bank. The idea was to satisfy his own economic needs. So, he asks to buy a bag of candy to his friend from Namakkal,they will get one candy in return. A bag of candy is one rupee 80 paise. If he sells it, he will get a profit of twenty paisa. His friend Mani, a student, buys a bag of candy and gives it to him. Mani is currently a pastor in a Christian church. He had the self-confidence to fulfill his economic need at an early age. During the Pongal festival, he conducted sports competitions such as skating, tug-of-war, bicycle racing, and running. Also he involved in things like screening movies during the Mari Amman festival. He also conducted kabaddi competitions. During that time, his team announced that the prize money was ten thousand and one and held kabaddi competitions. By the time he finished ninth grade, his friend Senthil had gone to another side to learn karate. On his advice,  Siva Master also went to Sensai P.K.U. Kanth and started learning the art of karate. But his father did not allow it and said you have already learnt two belts and it is enough. He also denied that he could pay the fee of six rupees a month.  

Siva master and his friend and asked his father just give permission and he’ll sell candy and pay his fes all by himself. Friend Senthil persuaded and got permission saying that this art of karate will help them to go for a higher job in the police department in future. He bought two belts from his first master till the 8th grade. Then from the ninth grade to the twelfth grade, he learnt karate with P.K.U. Kanth Master and bought black belt in karate. College life (1989 - 1994) Siva Master was a scholar undergraduate in Geography, studied in the Government Men's (Co-Education) Arts College. He is very simple, he ride all his way to college though cycle. College only lasts half a day. After college, he went to work in a welding workshop for the remaining half day without letting his parents know. Siva Master developed self-economy since his class 6th, During school season from class 10th to 12th class he could not continue it. Only the annual government subsidy went into small savings. No other income. So the only opportunity he had at the time to improve his self-economy was to go with his charitable forum friend Peter and  work for welding workshop. He decided to use it properly. He was curious to know a lot about any job. He was adamant that while developing the economy, he  should also be able to develop subject knowledge in various fields. The idea of martial arts keeps running through his mind 24 hours a day. It took issleep at night It is their family custom to go to bed at 9.00 am. Siva master will tell his father this is no ventilation inside and so he’ll lie down outside, and prepares to lie down on the doorstep outside the house. Over 10.30 pm his friend Nithiyanantham (currently running a large company called Vinayaka Video Vision) will return after finishing his family hotel shop. Siva master, nithyanatham and his other friend Selamba Saravanan (who works as a computer engineer in the United States) and Baburaj (who died as a police inspector) , with the pillows he will fake that someone is sleeping there and will go to the nearest government school to practice karate. Karate training with friends until 12 at night. As the college days continued. The college took us to the departmental tourist sites once a year. They took us to Yercaud for the second year for the botany department and for the second time in our lives we took photos there. Similarly, once a year, selected students at NCC will take a 10-day camp at a parachute jumping training camp in Uttar Pradesh. Attending the 10-day NCC camp in Ooty was unforgettable during college days....(Other contents sooner) `;
    f=true;
    b2.innerHTML="Translate to Tamil";
  }
}
                      
</script>                     
                      
<!--          End of tab switch            -->     
                  </div>
               </div> 
            </div>
         </section>
          
<!--  Video -->
         <section id="video-cover"  class="gradient-overlay gradient-overlay-dark video-cover">
            <!-- <div class="curved-decoration top-n1 flip-xy">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 43.2" enable-background="new 0 0 800 43.2;" xml:space="preserve">

<path fill="#f3f5f8" d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"></path>

</svg>
            </div> -->
            <img class="bg-image" src="http://img.youtube.com/vi/KpNwaRjG4-M/mqdefault.jpg" alt="">
            <div class="container spacer-xlg z-index-2 position-relative">
               <div class="row justify-content-center text-center">
                  <div class="col-md-8 col-lg-6 ">
                     <a class="venobox play-but  mt-3" data-vbtype="video" data-overlay="rgba(52,58,64,.6)" href="https://youtu.be/KpNwaRjG4-M">
                        <span class="play-icon play-icon-md">
                           <span class="play-icon-inner">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 158 178.4" enable-background="new 0 0 158 178.4;" xml:space="preserve">
                                 <polygon class="st0" points="147.8,89.2 5,169.8 5,8.6 147.8,89.2 "/>
                              </svg>
                           </span>
                        </span>
                     </a>
                     <h3 class="h5 text-white mt-3 mb-0">How it started?</h3>
                     <span class="font-size-14 text-white">Play it</span>
                  </div>
               </div>
            </div>
            <!-- <div class="curved-decoration bottom-n1">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 43.2" enable-background="new 0 0 800 43.2;" xml:space="preserve">

<path fill="#f3f5f8" d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"></path>

</svg>
            </div> -->
         </section>
  <br><br>
<!-- Footer -->
<footer class="footer bg-primary-2 o-hidden">
   <div itemscope itemtype="http://schema.org/LocalBusiness" class="curved-decoration ">
      <div class="decoration-top top-n1">
         <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 43.2" enable-background="new 0 0 800 43.2;" xml:space="preserve">

<path fill="#f3f5f8" d="M0,43.1v-4.8c0,0,187.9-30,400-3S800,0,800,0v43.1H0z"></path>
<path fill="#f3f5f8" opacity="0.3" d="M0,43V18.7c0,0,131.8-13.9,269.2,20.9C407.2,60,600.3-13.9,800,27.8V43H0z"></path>
</svg>
      </div>
   </div>
   <div class="container spacer-one-bottom-lg1 spacer-xl-top1 pt-3 pb-3">
      <!-- <div class="row text-center">
         <div class="col mb-6 mt-6 mt-lg-0">
            <img class=" max-width-9 opacity-3" src="assets/img/Logo.png" alt="Logo">
         </div>
      </div> -->
      <div class="row align-items-md-center">
         <div class="col-md-3 mb-2 mt-5 mb-md-0 text-center">
            <div class="col mb-6 mt-6 mt-lg-0">
               <img class=" max-width-9 opacity-3" src="assets/img/Logo.png" alt="Logo">
            </div>
         </div>
         <div class="col-md-3 text-center mb-3">
            To make people live a blissful enlightened life by resurrecting the conciousness in them
         </div>
         <div class="col-md-3 col-sm-6 mb-4 mb-sm-0">
            <div class="text-center">
               <address itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                  <div class="text-center">
                     <p class="font-size-13  mb-0 text-light"><span itemprop="name" class="text-muted">Athmakalin Sangamam,
                        <br></span> <span itemprop="addressLocality">Kolli hills.</span>
                     </p>
                  </div>
               </address>
               <p class="font-size-13  mb-0 text-light"><span class="text-muted">
                  <a href="tel:+919940953204"> <span itemprop="telephone" content="+919940953204">994 09 53204</span></a> , <a href="tel:+916374575616">637 45 75616</a>
               </p>
            </div>
            <!-- <form>
               <div class="input-group">
                  <input type="email" class="form-control" name="email" placeholder="Your email address">
                  <div class="input-group-append">
                     <button type="submit" class="btn btn-block btn-primary">Subscribe</button>
                  </div>
               </div>
            </form> -->
         </div>
         <div class="col-md-3 col-sm-6 text-center">
            <ul class="list-inline text-sm-right mb-0 font-size-14 mn-top">
               <li class="list-inline-item mr-1">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.facebook.com/ஆத்மாக்களின்-சங்கமம்-The-Conflience-of-Souls-100309278331675">
                  <span class="fab fa-facebook-f btn-icon-inner"></span>
                  </a>
               </li>
               <li class="list-inline-item mr-1">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://chat.whatsapp.com/Hk5u6uImjaJL8QV4nr0kMg">
                  <span class="fab fa-whatsapp btn-icon-inner"></span>
                  </a>
               </li>
               <li class="list-inline-item mr-1">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.youtube.com/channel/UCVf4ERL515GI2d4QN1r27QQ">
                  <span class="fab fa-youtube btn-icon-inner"></span>
                  </a>
               </li><br><br>
               <li class="list-inline-item mr-1">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://instagram.com/athmakalin_sangamam?igshid=yh2vmclhmpzs">
                  <span class="fab fa-instagram btn-icon-inner"></span>
                  </a>
               </li>
               <li class="list-inline-item mr-1">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="https://www.twitter.com/athmakalinsang1">
                  <span class="fab fa-twitter btn-icon-inner"></span>
                  </a>
               </li>
               <li class="list-inline-item mx-0">
                  <a class="btn btn-social btn-icon btn-social-dark" target="_blank" href="http://t.me/Athmakalin_Sangamam">
                  <span class="fab fa-telegram btn-icon-inner"></span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row mt-2 justify-content-center ">
         <div class="col-lg-3 col-sm-5 text-center">
            <p class="font-size-11 text-muted mb-0">Designed by <a class="text-light" href="https://www.codestormx.in">Codestormx</a>
               
            </p>
         </div>
      </div>
   </div>
</footer>
         <a class="scroll-to-top  scroll active" href="#wrapper"><span class=" fas fa-arrow-up top-icon "></span></a>
         <!-- End to the top -->
      </div>
      <!-- End wrapper-->
      <!--Javascript-->
      <script src="js/jquery-1.12.4.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/smooth-scroll.js"></script>
      <script src="js/venobox.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/jarallax.min.js"></script>
      <script src="js/jarallax-element.min.js"></script>
      <script src="js/placeholders.min.js"></script>
      <script src="js/instafeed.min.js"></script>
      <script src="js/script.js"></script>
      <!-- Google analytics -->
      <!-- End google analytics -->
   </body>
</html>